:root {
--primary-color: #111827;
--secondary-color: #1F2937;
--accent-color: #b88945;
--text-color: #a7a7a8;
--font-family: 'EB Garamond', serif;
--spacing-unit: 1rem;
}
body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font-family);
}
.navbar {
        background-color: var(--secondary-color);
        color: var(--text-color);
        font-family: var(--font-family);
}
.navbar-brand, .nav-link {
        color: var(--text-color);

}
.nav-link:hover {
        color: var(--accent-color);
}
.hero-image {
    width: 100%;
    height:auto;
    object-fit: cover;
}
#packages {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        gap: var(--spacing-unit);
}

#packages img {
        width: 100%;
        height: auto;
}

#packages h2 {
       grid-column: 1 / -1;
}

#packages table {
        grid-column: 1 / -1;
         width: 100%;
        border-collapse: collapse;
}

#packages th, #packages td {
        padding: var(--spacing-unit);
        border: 1px solid var(--text-color);
}
#packages th {
        color: var(--accent-color);
}

#packages article {
        background-color: var(--secondary-color);
        padding: var(--spacing-unit);
        border-radius: 8px;
}
#packages h3 {
        color: var(--accent-color);
        margin-top: var(--spacing-unit);
}

#contact form {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-unit);

}
#contact input, #contact select, #contact textarea {
        background-color: var(--secondary-color);
        color: var(--text-color);
}